<template>
  <form @submit.prevent>
    <div class="row gy-5 g-xl-10">
      <div class="col-xl-12 mb-xl-12">
        <div class="card card-flush h-xl-100">
          <!--begin::Card body-->
          <div class="card-body">
            <div class="row">
              <div class="col-12 row">
                <label class="col-sm-2 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Company ID</span>
                </label>
                <div class="col-sm-10 p-1">
                  <select class="form-select" aria-label="Company Code" v-model="post.companyId">
                    <option v-for="item in companyCode" :value="item.id">{{ item.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-12 row">
                <label class="col-sm-2 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Site ID</span>
                </label>
                <div class="col-sm-10 p-1">
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.siteID"
                    placeholder="Site ID"
                    @keyup="post.siteID = post.siteID.toUpperCase()"
                  />
                </div>
              </div>
              <div class="col-12 row">
                <label class="col-sm-2 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Site Name</span>
                </label>
                <div class="col-sm-10 p-1">
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.siteName"
                    placeholder="Site Name"
                  />
                </div>
              </div>
              <div class="col-12 row">
                <label class="col-sm-2 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Cluster ID</span>
                </label>
                <div class="col-sm-10 p-1">
                  <select class="form-select" aria-label="Cluster" v-model="post.cluster_id">
                    <option v-for="item in clusters" :value="item.id">{{ item.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-secondary" @click="$router.go(-1)">
        <i class="fa fa-ban"></i>
        <span>Cancel</span>
      </a>
      &nbsp;
      <!--begin::Button-->
      <button
        :data-kt-indicator="loading ? 'on' : null"
        class="btn btn-lg btn-primary me-3"
        type="submit"
        @click="submitData()"
      >
        <span v-if="!loading" class="indicator-label">
          Submit
          <span class="svg-icon svg-icon-3 ms-2 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
          </span>
        </span>
        <span v-if="loading" class="indicator-progress">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, ref } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import axios from "axios";
import router from "@/router/routes";

export default defineComponent({
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Add Site");
      getClusters();
      getCompanyCode();
    });

    const loading = ref<boolean>(false);

    interface MyClusters {
      id: number;
      name?: string;
    }

    const clusters = ref<MyClusters[]>([]);
    const companyCode = ref<MyClusters[]>([]);

    const getClusters = async () => {
      const resp = await axios.get('/mscluster');
      resp.data.data.forEach((item) => {
        clusters.value.push({
          id: item.id,
          name: `${item.cluster_code} (${item.cluster_description})`,
        });
      });
    };

    const getCompanyCode = async () => {
      const resp = await axios.get('/mscompanycode');
      resp.data.data.forEach((item) => {
        companyCode.value.push({
          id: item.company_code,
          name: item.company_name,
        });
      });
    };

    const post = reactive({
      companyId: "",
      siteID: "",
      siteName: "",
      cluster_id: "",
    });

    const submitData = () => {
      loading.value = true;

      if (
        post.companyId === "" ||
        post.siteID === "" ||
        post.siteName === "" ||
        post.cluster_id === ""
      ) {
        Swal.fire({
          title: "All fields must be filled!",
          icon: "warning",
        });
        loading.value = false;
        return;
      }

      axios
        .post("/mssite", post)
        .then((resp) => {
          if (resp.data.status === "success") {
            loading.value = false;
            Swal.fire({
              title: "Created",
              text: "Data successfully created!",
              icon: "success",
              showConfirmButton: true,
            }).then((suc) => {
              if (suc.isConfirmed) {
                router.go(-1);
              }
            });
          } else {
            console.log(resp);
          }
        })
        .catch((error) => {
          console.log(error.response.data);
          Swal.fire({
            title:
              error.response.data.message.companyId ||
              error.response.data.message.siteID ||
              error.response.data.message.siteName ||
              error.response.data.message.cluster_id ||
              error.response.data.message.createdBy,
            icon: "error",
          });
          loading.value = false;
        });
    };

    return {
      post,
      loading,
      submitData,
      clusters,
      companyCode,
    };
  },
});
</script>
