<template>
  <form @submit.prevent="submit">
    <div class="row gy-5 g-xl-10">
      <div class="col-xl-12 mb-xl-12">
        <div class="card card-flush h-xl-100">
          <!--begin::Card body-->
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Company ID</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.companyId"
                    placeholder="Input Company ID"
                    disabled
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Site ID</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.siteID"
                    placeholder="Input Site ID"
                    disabled
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Site Name</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.siteName"
                    placeholder="Input Site Name"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Cluster ID</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" aria-label="Cluster" v-model="post.cluster_id">
                    <option v-for="item in clusters" :value="item.id">{{ item.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-secondary" @click="$router.go(-1)">
        <i class="fa fa-ban"></i>
        <span>Cancel</span>
      </a>
      &nbsp;
      <!--begin::Button-->
      <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-primary me-3" type="submit">
        <span v-if="!loading" class="indicator-label">
          Submit
          <span class="svg-icon svg-icon-3 ms-2 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
          </span>
        </span>
        <span v-if="loading" class="indicator-progress">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import axios from "axios";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import { useRoute, useRouter } from "vue-router";
import { defineComponent, onMounted, reactive, ref } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

export default defineComponent({
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Edit Site");
      showData();
      getClusters();
    });

    const loading = ref<boolean>(false);
    const route = useRoute();
    const router = useRouter();

    interface MyClusters {
      id: number;
      name?: string;
    }

    const clusters = ref<MyClusters[]>([]);

    const getClusters = async () => {
      const resp = await axios.get('/mscluster');
      resp.data.data.forEach((item) => {
        clusters.value.push({
          id: item.id,
          name: `${item.cluster_code} (${item.cluster_description})`,
        });
      });
    };

    let post = reactive({
      companyId: "",
      siteID: "",
      siteName: "",
      cluster_id: "",
    });

    const showData = () => {
      axios.get(`/mssite/${route.params.id}`).then((response) => {
        const data = response.data.data;
        post.companyId = data.companyId;
        post.siteID = data.siteID;
        post.siteName = data.siteName;
        post.cluster_id = data.cluster_id;
      });
    };

    const submit = () => {
      loading.value = true;
      const bodyForm = {
        companyId: post.companyId,
        siteID: post.siteID,
        siteName: post.siteName,
        cluster_id: post.cluster_id,
      };
      axios
        .put(`/mssite/${route.params.id}`, bodyForm)
        .then((response) => {
          if (response.data.status == 'success') {
            Swal.fire({
              title: "Success",
              text: response.data.message,
              icon: "success",
              buttonsStyling: false,
              confirmButtonText: "Confirm me!",
              customClass: {
                confirmButton: "btn btn-primary",
              },
            }).then(() => {
              loading.value = false;
              router.push({ name: "master-master-site" });
            });
          } else {
            Swal.fire({
              title: "Error",
              text: response.data.message,
              icon: "error",
              showClass: {
                popup: "animate__animated animate__fadeInDown",
              },
              hideClass: {
                popup: "animate__animated animate__fadeOutUp",
              },
            });
            loading.value = false;
          }
        })
        .catch((error) => {
          console.log(error.response.data);
          Swal.fire({
            title: "Error",
            text: error.response.data.message,
            icon: "error",
            showClass: {
              popup: "animate__animated animate__fadeInDown",
            },
            hideClass: {
              popup: "animate__animated animate__fadeOutUp",
            },
          });
          loading.value = false;
        });
    };

    return {
      post,
      submit,
      loading,
      clusters
    };
  },
});
</script>
