<template>
  <div class="row gy-5 g-xl-10">
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush h-xl-100">
        <!--begin::Card header-->
        <div class="card-header border-0">
          <div class="d-flex align-items-center">
            <router-link :to="{ name: 'master-master-site-add' }" class="btn btn-sm btn-light-primary">
              <span class="svg-icon svg-icon-2">
                <inline-svg src="/media/icons/duotune/arrows/arr075.svg" />
              </span>
              Buat Site
            </router-link>
          </div>
        </div>
        <div class="card-body pt-0">
          <KTDatatable :table-data="tableData" :table-header="tableHeader">
            <template v-slot:cell-companyID="{ row: val }">
              {{ val.companyID }}
            </template>
            <template v-slot:cell-siteID="{ row: val }">
              {{ val.siteID }}
            </template>
            <template v-slot:cell-siteName="{ row: val }">
              {{ val.siteName }}
            </template>
            <template v-slot:cell-cluster_id="{ row: val }">
              {{ val.cluster_id }}
            </template>
            <template v-slot:cell-createdBy="{ row: val }">
              {{ val.createdBy }}
            </template>
            <template v-slot:cell-actions="{ row: val }">
              <router-link :to="{ name: 'master-master-site-edit', params: { id: val.siteID } }"
                class="btn btn-warning btn-sm me-2">
                <i class="fas fa-edit"></i> Edit
              </router-link>
              <button @click.prevent="destroy(val.siteID)" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i> Delete
              </button>
            </template>
          </KTDatatable>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import KTDatatable from "@/components/kt-datatable/KTDatatable.vue";
import { defineComponent, ref, onMounted, computed } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

export default defineComponent({
  components: {
    KTDatatable,
  },
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Site Data");
      masterData();
    });

    function destroy(id) {
      Swal.fire({
        title: "Are you sure to delete it?",
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
        icon: "warning",
      }).then((result) => {
        if (result.isConfirmed) {
          axios
            .delete("/mssite/" + id)
            .then((resp) => {
              if (resp.data.status === "success") {
                masterData();
                Swal.fire("Deleted!", "Your data has been deleted.", "success");
              }
            })
            .catch((err) => {
              console.log(err);
            });
        }
      });
    }

    let data = ref([]);
    let loading = ref({});

    const tableHeader = ref([
      {
        name: "Company ID",
        key: "companyID",
      },
      {
        name: "Site ID",
        key: "siteID",
      },
      {
        name: "Site Name",
        key: "siteName",
      },
      {
        name: "Cluster ID",
        key: "cluster_id",
      },
      {
        name: "Created By",
        key: "createdBy",
      },
      {
        name: "Actions",
        key: "actions",
      },
    ]);

    const tableData = computed(() => {
      let post = data.value;
      return post;
    });

    const masterData = () => {
      axios
        .get("/mssite")
        .then((response) => {
          loading.value = false;
          data.value = response.data.data.map((item) => {
            return {
              companyID: item.companyID,
              siteID: item.siteID,
              siteName: item.siteName,
              cluster_id: item.cluster.cluster_code,
              createdBy: item.createdBy,
            };
          });
        })
        .catch((err) => {
          loading.value = false;
          console.log(err);
        });
    };

    return {
      data,
      tableHeader,
      loading,
      tableData,
      destroy,
    };
  },
});
</script>
