<template>
  <form @submit.prevent>
    <div class="row gy-5 g-xl-10">
      <div class="col-xl-12 mb-xl-12">
        <div class="card card-flush h-xl-100">
          <!--begin::Card body-->
          <div class="card-body">
            <div class="row">
              <div class="col-12 row">
                <label class="col-sm-2 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Cluster Code</span>
                </label>
                <div class="col-sm-10 p-1">
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.cluster_code"
                    placeholder="Cluster Code"
                    @keyup="() => post.cluster_code = post.cluster_code.toUpperCase()"
                  />
                </div>
              </div>
              <div class="col-12 row">
                <label class="col-sm-2 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Cluster Description</span>
                </label>
                <div class="col-sm-10 p-1">
                  <textarea
                    class="form-control"
                    placeholder="Cluster Description"
                    id="floatingTextarea2"
                    style="height: 100px"
                    v-model="post.cluster_description"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-secondary" @click="$router.go(-1)">
        <i class="fa fa-ban"></i>
        <span>Cancel</span>
      </a>
      &nbsp;
      <!--begin::Button-->
      <button
        :data-kt-indicator="loading ? 'on' : null"
        class="btn btn-lg btn-primary me-3"
        type="submit"
        @click="submitData()"
      >
        <span v-if="!loading" class="indicator-label">
          Submit
          <span class="svg-icon svg-icon-3 ms-2 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
          </span>
        </span>
        <span v-if="loading" class="indicator-progress">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, ref } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import axios from "axios";
import router from "@/router/routes";

export default defineComponent({
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Add Cluster");
    });

    const loading = ref<boolean>(false);

    let post = reactive({
      cluster_code: "",
      cluster_description: "",
    });

    const submitData = () => {
      loading.value = true;

      if (post.cluster_code === "" || post.cluster_description === "") {
        Swal.fire({
          title: "Cluster code dan Cluster description harus di isi",
          icon: "warning",
        });
        loading.value = false;
        return;
      }

      axios
        .post("/mscluster", post)
        .then((resp) => {
          if (resp.data.status === "success") {
            loading.value = false;
            Swal.fire({
              title: "Created",
              text: "Data successfully created!",
              icon: "success",
              showConfirmButton: true,
            }).then((suc) => {
              if (suc.isConfirmed) {
                router.go(-1);
              }
            });
          } else {
            console.log(resp);
          }
        })
        .catch((error) => {
          Swal.fire({
            title: error.response.data.message.cluster_code,
            icon: "error",
          });
          loading.value = false;
        });
    };

    return {
      post,
      loading,
      submitData,
    };
  },
});
</script>
