<template>
  <form @submit.prevent="submit">
    <div class="row gy-5 g-xl-10">
      <div class="col-xl-12 mb-xl-12">
        <div class="card card-flush h-xl-100">
          <!--begin::Card body-->
          <div class="card-body">
            <div class="row">
              <div class="col-12 row">
                <label class="col-sm-2 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Cluster Code</span>
                </label>
                <div class="col-sm-10 p-1">
                  <input
                    type="text"
                    class="form-control"
                    v-model="post.cluster_code"
                    placeholder="Input Cluster Code"
                    disabled
                  />
                </div>
              </div>
              <div class="col-12 row">
                <label class="col-sm-2 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Cluster Description</span>
                </label>
                <div class="col-sm-10 p-1">
                  <textarea
                    class="form-control"
                    placeholder="Input Cluster Description"
                    id="floatingTextarea2"
                    style="height: 100px"
                    v-model="post.cluster_description"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-secondary" @click="$router.go(-1)">
        <i class="fa fa-ban"></i>
        <span>Cancel</span>
      </a>
      &nbsp;
      <!--begin::Button-->
      <button
        :data-kt-indicator="loading ? 'on' : null"
        class="btn btn-lg btn-primary me-3"
        type="submit"
      >
        <span v-if="!loading" class="indicator-label">
          Submit
          <span class="svg-icon svg-icon-3 ms-2 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
          </span>
        </span>
        <span v-if="loading" class="indicator-progress">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import axios from "axios";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import { useRoute, useRouter } from "vue-router";
import { defineComponent, onMounted, reactive, ref } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

export default defineComponent({
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Edit Perspective (Statis)");
      showData();
    });

    const loading = ref<boolean>(false);
    const route = useRoute();
    const router = useRouter();

    let post = reactive({
      cluster_code: "",
      cluster_description: "",
    });

    const showData = () => {
      axios
        .get(`/mscluster/${route.params.id}`)
        .then((response) => {
          post.cluster_code = response.data.data.cluster_code;
          post.cluster_description = response.data.data.cluster_description;
        })
        .catch((err) => {
          router.push({ name: "master-master-cluster" });
        });
    };

    const submit = () => {
      if (post.cluster_code === "" || post.cluster_description === "") {
        Swal.fire({
          title: "Cluster code dan Cluster description harus di isi",
          icon: "warning",
        });
        loading.value = false;
        return;
      }

      loading.value = true;
      const bodyForm = {
        cluster_code: post.cluster_code,
        cluster_description: post.cluster_description,
      };

      axios
        .put(`/mscluster/${route.params.id}`, bodyForm)
        .then((response) => {
          if (response.data.status === "success") {
            Swal.fire({
              title: "Success",
              text: response.data.message,
              icon: "success",
              buttonsStyling: false,
              confirmButtonText: "Confirm me!",
              customClass: {
                confirmButton: "btn btn-primary",
              },
            }).then(() => {
              loading.value = false;
              router.go(-1);
            });
          } else {
            Swal.fire({
              title: "Error",
              text: response.data.message,
              icon: "error",
              showClass: {
                popup: "animate__animated animate__fadeInDown",
              },
              hideClass: {
                popup: "animate__animated animate__fadeOutUp",
              },
            });
            loading.value = false;
          }
        })
        .catch((error) => {
          Swal.fire({
            title: "Error",
            text: error.response.data.message,
            icon: "error",
            showClass: {
              popup: "animate__animated animate__fadeInDown",
            },
            hideClass: {
              popup: "animate__animated animate__fadeOutUp",
            },
          });
          loading.value = false;
        });
    };

    return {
      post,
      submit,
      loading,
    };
  },
});
</script>
