<template>
  <div class="row gy-5 g-xl-10">
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush h-xl-100">
        <!--begin::Card header-->
        <div class="card-header border-0">
          <div class="d-flex align-items-center">
            <router-link :to="{ name: 'master-master-cluster-add' }" class="btn btn-sm btn-light-primary">
              <span class="svg-icon svg-icon-2">
                <inline-svg src="/media/icons/duotune/arrows/arr075.svg" />
              </span>
              Buat Cluster
            </router-link>
          </div>
        </div>
        <div class="card-body pt-0">
          <KTDatatable :table-data="tableData" :table-header="tableHeader">
            <template v-slot:cell-cluster_code="{ row: val }">
              {{ val.cluster_code }}
            </template>
            <template v-slot:cell-cluster_description="{ row: val }">
              {{ val.cluster_description }}
            </template>
            <template v-slot:cell-actions="{ row: val }">
              <router-link :to="{ name: 'master-master-cluster-edit', params: { id: val.id } }" class="btn btn-warning btn-sm me-2">
                <i class="fas fa-edit"></i> Edit
              </router-link>
              <button @click.prevent="destroy(val.id)" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i> Delete
              </button>
            </template>
          </KTDatatable>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import KTDatatable from "@/components/kt-datatable/KTDatatable.vue";
import { defineComponent, ref, onMounted, computed } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

export default defineComponent({
  components: {
    KTDatatable,
  },
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Cluster Data");
      masterData();
    });

    const data = ref([]);
    const loading = ref({});

    const tableHeader = ref([
      {
        name: "Cluster Code",
        key: "cluster_code",
      },
      {
        name: "Cluster Description",
        key: "cluster_description",
      },
      {
        name: "Actions",
        key: "actions",
      },
    ]);

    const tableData = computed(() => data.value);

    function destroy(id) {
      Swal.fire({
        title: "Are you sure to delete it?",
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
        icon: "warning"
      }).then((result) => {
        if (result.isConfirmed) {
          axios.delete("/mscluster/" + id).then((resp) => {
            if (resp.data.status === "success") {
              masterData();
              Swal.fire("Deleted!", "Your data has been deleted.", "success");
            }
          }).catch((err) => {
            console.log(err);
          });
        }
      });
    }

    function masterData() {
      axios.get("/mscluster").then((response) => {
        loading.value = false;
        data.value = response.data.data.map((item) => {
          return {
            id: item.id,
            cluster_code: item.cluster_code,
            cluster_description: item.cluster_description,
          };
        });
      }).catch((err) => {
        loading.value = false;
        console.log(err);
      });
    }

    return {
      data,
      tableHeader,
      loading,
      tableData,
      destroy,
    };
  },
});
</script>
