<template>
  <form @submit.prevent="submit">
    <div class="row gy-5 g-xl-10">
      <div class="col-xl-12 mb-xl-12">
        <div class="card card-flush h-xl-100">
          <!--begin::Card body-->
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Category Item</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input type="text" class="form-control" v-model="post.category_item"
                    placeholder="Input Category Item" />
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Perspective Item</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input class="form-control" v-model="post.perspective_item" disabled>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-secondary" @click="$router.go(-1)">
        <i class="fa fa-ban"></i>
        <span>Cancel</span>
      </a>
      &nbsp;
      <!--begin::Button-->
      <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-primary me-3" type="submit">
        <span v-if="!loading" class="indicator-label">
          Submit
          <span class="svg-icon svg-icon-3 ms-2 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
          </span>
        </span>
        <span v-if="loading" class="indicator-progress">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</template>
<script lang="ts">
import axios from "axios";
import Swal from "sweetalert2/dist/sweetalert2.min.js";

import { useRoute, useRouter } from "vue-router";
import { defineComponent, onMounted, reactive, ref } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

export default defineComponent({
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Edit Perspective (Statis)");
      showData();
    });

    const loading = ref<boolean>(false);
    const route = useRoute();
    const router = useRouter();

    let post = reactive({
      category_item: "",
      perspective_id: "",
      perspective_item: ""
    });

    let item = ref();

    const showData = () => {
      axios.get(`/mskpicategory/${route.params.id}`).then((response) => {
        post.category_item = response.data.data.category_item;
        post.perspective_id = response.data.data.perspective_id;
        post.perspective_item = response.data.data.perspective.perspective_item
      });
    };
    const submit = () => {
      loading.value = true;
      const postData = {
        category_item: post.category_item,
        perspective_id: post.perspective_id
      }
      axios
        .put(`/mskpicategory/${route.params.id}`, postData)
        .then((response) => {
          if (response.data.status == 'success') {
            Swal.fire({
              title: "Success",
              text: response.data.message,
              icon: "success",
              buttonsStyling: false,
              confirmButtonText: "Confirm me!",
              customClass: {
                confirmButton: "btn btn-primary",
              },
            }).then(() => {
              loading.value = false;
              router.go(-1);
            });
          } else {
            Swal.fire({
              title: "Error",
              text: response.data.message,
              icon: "error",
              showClass: {
                popup: "animate__animated animate__fadeInDown",
              },
              hideClass: {
                popup: "animate__animated animate__fadeOutUp",
              },
            });
            loading.value = false;
          }
        })
        .catch((error) => {
          Swal.fire({
            title: "Error",
            text: error.response.data.message.category_item,
            icon: "error",
            showClass: {
              popup: "animate__animated animate__fadeInDown",
            },
            hideClass: {
              popup: "animate__animated animate__fadeOutUp",
            },
          });
          loading.value = false;
        });
    };
    return {
      post,
      submit,
      loading,
    };
  },
});
</script>
