<template>
  <div class="row gy-5 g-xl-10">
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush h-xl-100">
        <!--begin::Card header-->
        <div class="card-header border-0">
          <div class="row">
            <div class="col-12  ">
              <select v-model="select" class="form-select">
                <option :value="data" v-for="data of data_date" :key="data">{{ data }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Ref, defineComponent, onBeforeMount, ref } from "vue";
import KTDatatable from "@/components/kt-datatable/KTDatatable.vue";
import axios from "axios";
export default defineComponent({
  components: {
    KTDatatable
  },

  setup() {

    const select: Ref<string> = ref('')
    const data_date: Ref<string[]> = ref([])
    const kpi_details: Ref<KPI_Focus[]> = ref([])
    const tableHeader: Ref<{ name: string, key: string }[]> = ref([
      {
        name: 'Item',
        key: 'item'
      },
      {
        name: 'Achieve (YTD)',
        key: 'achieve'
      },
      {
        name: 'Percentage',
        key: 'percentage'
      }
    ])

    interface KPI_Focus {
      item: string
      achieve: string
      percentage: string
    }


    function get_data_date() {
      axios.get('/trkpiheader')
        .then((resp => resp.data.data))
        .then((resp) => {
          resp.forEach((elem) => {
            data_date.value.push(
              elem.data_date
            )
          })
        })
    }

    function get_kpi_details() {
      axios.get('/trkpidetail')
        .then((resp => resp.data.data))
        .then((resp) => {
          resp.forEach((elem) => {
            kpi_details.value.push(
              {
                item: elem.item_category.item_name,
                achieve: '',
                percentage: ''
              }
            )
          });
        })
    }
    onBeforeMount(() => {
      get_data_date()
      get_kpi_details()
    })
    return {
      data_date,
      select
    }
  }
})

</script>