<template>
  <!--begin::Toolbar-->
  <div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div
      id="kt_toolbar_container"
      :class="{
        'container-fluid': toolbarWidthFluid,
        'container-xxl': !toolbarWidthFluid,
      }"
      class="d-flex flex-stack"
    >
      <!--begin::Page title-->
      <div
        data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
        class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0"
      >
        <!--begin::Title-->
        <template v-if="title == 'Overview'">
          <router-link to="/homedashboard" class="text-muted text-hover-primary">
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
              {{ title }}
            </h1>
          </router-link>
        </template>
        <template v-else>
          <a @click="$router.go(-1)" href="#"> Back </a>
          <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
          <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
            {{ title }}
          </h1>
        </template>
      </div>
      <!--end::Page title-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Toolbar-->
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { toolbarWidthFluid } from "@/core/helpers/config";

export default defineComponent({
  name: "KToolbar",
  props: {
    breadcrumbs: Array,
    title: String,
  },
  setup() {
    return {
      toolbarWidthFluid,
    };
  },
});
</script>
