<template>
  <div class="row gy-5 g-xl-12">
    <div class="position-relative">
      <div class="row">
        <div class="col-3">
          <router-link :to="{name: 'kpi-focus'}" class="card hover-elevate-up shadow-sm parent-hover" title="KPI Focus">
            <div class="card-body d-flex align-items">
              <img src="/media/illustrations/asset/production.png" alt="" class="img-fluid">
            </div>
          </router-link>
        </div>
        <div class="col-3">
          <router-link :to="{name: 'kpi-perspective'}" class="card hover-elevate-up shadow-sm parent-hover" title="KPI Perscpective">
            <div class="card-body d-flex align-items">
              <img src="/media/illustrations/asset/production.png" alt="" class="img-fluid">
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

export default {
  setup() {
    setCurrentPageTitle("Home Dashboard");
    return {
    };
  },
};
</script>
