<template>
  <form @submit.prevent>
    <div class="row gy-5 g-xl-10">
      <div class="col-xl-12 mb-xl-12">
        <div class="card card-flush h-xl-100">
          <!--begin::Card body-->
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Item Name</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input type="text" class="form-control" v-model="post.item_name" placeholder="Input Category Item" />
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Category</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.category_id">
                    <option v-for="item in categoriesData" :value="item.id">{{ item.category_item }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Weight (%)</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input type="number" class="form-control" step="0.1" min="0" max="999" v-model="post.weight" />
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">MTD % FORMULA</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.mtd_option">
                    <option value="MIN">MIN</option>
                    <option value="MAX">MAX</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">YTD % FORMULA</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.ytd_option">
                    <option value="MIN">MIN</option>
                    <option value="MAX">MAX</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">IS ACTIVE</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.is_active">
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">KPI Focus Item</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.shown_in_focus">
                    <option value="YES">Displayed</option>
                    <option value="NO">Not Displayed</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-secondary" @click="$router.go(-1)">
        <i class="fa fa-ban"></i>
        <span>Cancel</span>
      </a>
      &nbsp;
      <!--begin::Button-->
      <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-primary me-3" type="submit">
        <span v-if="!loading" class="indicator-label" @click="submitOption()">
          Submit
          <span class="svg-icon svg-icon-3 ms-2 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
          </span>
        </span>
        <span v-if="loading" class="indicator-progress">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</template>
<script lang="ts">
import { defineComponent, ref, reactive, onMounted, computed } from 'vue'
import { setCurrentPageTitle } from '@/core/helpers/breadcrumb';
import axios from 'axios';
import Swal from 'sweetalert2';
import { useRouter } from 'vue-router';

export default defineComponent({
  setup() {
    onMounted(() => {
      setCurrentPageTitle('Create Perspective (Formula)')
      showPerspective()
      categoriesData
    })

    const router = useRouter();
    const post = reactive({
      item_name: '',
      category_id: '',
      weight: '',
      mtd_option: '',
      ytd_option: '',
      is_active: '',
      shown_in_focus: ''
    })

    interface Category {
      id: number,
      category_item: string
    }
    const categoriesData = ref<Array<Category>>([]);

    const showPerspective = () => {
      axios.get('/mskpicategory').then(resp => {
        resp.data.data.map(item => {
          categoriesData.value?.push(
            {
              id: item.id,
              category_item: item.category_item
            }
          )
        })
      })

    }
    const loading = ref<boolean>(false);

    const submitOption = () => {
      loading.value = true;
      if (post.category_id === '' ||
        post.is_active === '' ||
        post.item_name === '' ||
        post.mtd_option === '' ||
        post.shown_in_focus === '' ||
        post.weight === '' ||
        post.ytd_option === '') {
        Swal.fire({
          title: "All fields must be filled!",
          icon: "warning",
        });
        loading.value = false;
        return;
      }
      axios.post('/mskpiitemcategory', post).then(resp => {
        if (resp.data.status === "success") {
          loading.value = false;
          Swal.fire({
            title: "Created",
            text: "Data successfully created!",
            icon: "success",
            showConfirmButton: true,
          }).then((suc) => {
            if (suc.isConfirmed) {
              router.go(-1);
            }
          });
        } else {
          console.log(resp);
        }
      })
    }
    return {
      post,
      loading,
      submitOption,
      categoriesData
    }
  },
})
</script>
