<template>
  <form @submit.prevent>
    <div class="row gy-5 g-xl-10">
      <div class="col-xl-12 mb-xl-12">
        <div class="card card-flush h-xl-100">
          <!--begin::Card body-->
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Item Name</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input type="text" class="form-control" v-model="post.item_name" placeholder="Input Category Item" />
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Category</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select v-model="post.category_id" class="form-select">
                    <option v-for="item of category" :value="item.id">{{ item.category_item }}</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Weight</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input type="number" class="form-control" min="0" max="100" step="1" v-model="post.weight" />
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">MTD % FORMULA</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.mtd_option">
                    <option value="MIN">MIN</option>
                    <option value="MAX">MAX</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">YTD % FORMULA</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.ytd_option">
                    <option value="MIN">MIN</option>
                    <option value="MAX">MAX</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">IS ACTIVE</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.is_active">
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">KPI Focus Item</span>
                </label>
                <div class="col-sm-8 p-1">
                  <select class="form-select" v-model="post.shown_in_focus">
                    <option value="YES">Displayed</option>
                    <option value="NO">Not Displayed</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-secondary" @click="$router.go(-1)">
        <i class="fa fa-ban"></i>
        <span>Cancel</span>
      </a>
      &nbsp;
      <!--begin::Button-->
      <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-primary me-3" type="submit"
        @click="submit">
        <span v-if="!loading" class="indicator-label">
          Submit
          <span class="svg-icon svg-icon-3 ms-2 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
          </span>
        </span>
        <span v-if="loading" class="indicator-progress">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</template>
<script lang="ts">
import { defineComponent, onBeforeMount, reactive, ref } from 'vue'
import { setCurrentPageTitle } from '@/core/helpers/breadcrumb'
import axios from 'axios'
import { useRoute, useRouter } from 'vue-router'
import Swal from 'sweetalert2'
export default defineComponent({
  setup() {
    onBeforeMount(() => {
      setCurrentPageTitle('Edit Perspective (Formula)')
      showData(),
        showCategory()
    })

    const route = useRoute();

    const router = useRouter();
    const post = reactive({
      item_name: '',
      category_id: '',
      weight: '',
      mtd_option: '',
      ytd_option: '',
      is_active: '',
      shown_in_focus: ''
    })

    let item = reactive({
      category_name: '',
    })
    interface Category {
      id: number,
      category_item: string
    }
    let category = ref<Category[]>([])

    const showCategory = () => {
      axios.get(`/mskpicategory/`).then((response) => {
        response.data.data.map(item => {
          category.value?.push(
            {
              id: item.id,
              category_item: item.category_item
            }
          )
        }
        )
      });
    };
    const loading = ref<boolean>(false)
    const showData = () => {
      axios.get(`/mskpiitemcategory/${route.params.id}`).then(resp => {
        post.item_name = resp.data.data.item_name,
          post.weight = resp.data.data.weight,
          post.mtd_option = resp.data.data.mtd_option,
          post.ytd_option = resp.data.data.ytd_option,
          post.is_active = resp.data.data.is_active,
          post.shown_in_focus = resp.data.data.shown_in_focus,
          post.category_id = resp.data.data.category_id
        item.category_name = resp.data.data.category.category_item
      })
    }

    const submit = () => {
      loading.value = true;
      axios.put(`/mskpiitemcategory/${route.params.id}`, post).then(resp => {
        if (resp.data.status == 'success') {
          Swal.fire({
            title: "Success",
            text: resp.data.message,
            icon: "success",
            buttonsStyling: false,
            confirmButtonText: "Confirm me!",
            customClass: {
              confirmButton: "btn btn-primary",
            },
          }).then(() => {
            loading.value = false;
            router.go(-1);
          });
        } else {
          Swal.fire({
            title: "Error",
            text: resp.data.message,
            icon: "error",
            showClass: {
              popup: "animate__animated animate__fadeInDown",
            },
            hideClass: {
              popup: "animate__animated animate__fadeOutUp",
            },
          });
          loading.value = false;
        }
      })
        .catch((error) => {
          Swal.fire({
            title: "Error",
            text: error.resp.data.message,
            icon: "error",
            showClass: {
              popup: "animate__animated animate__fadeInDown",
            },
            hideClass: {
              popup: "animate__animated animate__fadeOutUp",
            },
          });
          loading.value = false;
        });
    }
    return {
      post,
      loading,
      item,
      submit,
      category

    }
  },


})
</script>
