<template>
  <!--begin::Menu-->
  <div
    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold py-4 fs-6 w-275px"
    data-kt-menu="true"
  >
    <!--begin::Menu item-->
    <div class="menu-item px-3">
      <div class="menu-content d-flex align-items-center px-3">
        <!--begin::Avatar-->
        <div class="symbol symbol-50px me-5">
          <v-lazy-image alt="Logo" src="/media/avatars/blank.png" />
        </div>
        <!--end::Avatar-->

        <!--begin::Username-->
        <div class="d-flex flex-column">
          <div v-if="user !== null" class="fw-bolder d-flex align-items-center fs-5">
            {{ user.name }}
            <span
              v-if="user !== null"
              class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2"
              >( {{ user.SiteId }})</span
            >
          </div>
          <a
            v-if="user !== null"
            href="#"
            class="fw-bold text-muted text-hover-primary fs-7"
            >( {{ user.nik }})</a
          >
        </div>
        <!--end::Username-->
      </div>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu separator-->
    <div class="separator my-2"></div>
    <!--end::Menu separator-->

    <!--begin::Menu item-->
    <div class="menu-item px-5">
      <router-link to="/user-profile" class="menu-link px-5"> My Profile </router-link>
    </div>
    <!--end::Menu item-->

    <!--begin::Menu item-->
    <div class="menu-item px-5">
      <a @click="signOut()" class="menu-link px-5"> Sign Out </a>
    </div>
    <!--end::Menu item-->
  </div>
  <!--end::Menu-->
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2/dist/sweetalert2.min.js";

export default {
  name: "kt-user-menu",
  data() {
    return {
      //state loggedIn with localStorage
      loggedIn: localStorage.getItem("loggedIn"),
      //state token
      token: localStorage.getItem("token"),
      user: JSON.parse(window.localStorage.getItem("user")),
    };
  },

  methods: {
    signOut() {
      // setTimeout(() => {
      //   Swal.fire({
      //     text: "You have successfully logged out!",
      //     icon: "success",
      //     buttonsStyling: false,
      //     customClass: {
      //       confirmButton: "btn fw-bold btn-light-primary",
      //     },
      //   }).then(() => {
      //     localStorage.clear();
      //     return this.$router.push({ name: "sign-in" });
      //   });
      // }, 1000);
      axios
        .get(
          "/logout")
        .then((response) => {
          localStorage.removeItem("loggedIn");
          localStorage.removeItem("token");

          Swal.fire({
            text: "You have successfully logged out!",
            icon: "success",
            buttonsStyling: false,
            customClass: {
              confirmButton: "btn fw-bold btn-light-primary",
            },
          }).then(() => {
            localStorage.clear();
            return this.$router.push({ name: "sign-in" });
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  mounted() {
    if (this.loggedIn) {
      return this.$router.push({ name: "homedashboard" });
    }
  },
};
</script>
