<template>
  <div class="row gy-5 g-xl-10">
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush h-xl-100">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-8 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Company</span>
              </label>
              <div class="col-sm-8 p-1">
                <select class="form-select" v-model="post.site_code">
                  <option v-for="site of site_codes" :value="site.siteID">{{ site.siteID }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-8 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Month / year</span>
              </label>
              <div class="col-sm-8 p-1">
                <input type="month" class="form-control" v-model="post.data_date">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-12 col-sm-6 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Item Category</span>
              </label>
              <div class="col-sm-8 p-1">
                <select class="form-select" v-model="post.item_category">
                  <option v-for="(val, index) of item_category" :value="val.id">{{ val.item_name }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-6 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Weight (%)</span>
              </label>
              <div class="col-sm-8 p-1">
                <input type="text" class="form-control" disabled
                  :value="item_category.find((item) => item.id === Number(post.item_category))?.weight">
              </div>
            </div>
            <div class="col-12 col-sm-6 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Target</span>
              </label>
              <div class="col-sm-8 p-1">
                <input type="number" class="form-control" v-model="post.target">
              </div>
            </div>
            <div class="col-12 col-sm-6 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Actual</span>
              </label>
              <div class="col-sm-8 p-1">
                <input type="number" class="form-control" v-model="post.actual">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="card-header border-0">
            <div class="d-flex align-items-center pt-5 mb-5">
              <button @click="addData" class="btn btn-primary btn-sm">Add To list + </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <KTDatatable :table-data="tableData" :table-header="tableHeader">
          <template v-slot:cell-actions="{ row: val }">
            <button @click.prevent="deleteData(val.site_code, val.item_category)"
              class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm me-1" title="Delete">
              <span class="svg-icon svg-icon-3">
                <inline-svg src="/media/icons/duotune/general/gen027.svg" />
              </span>
            </button>
          </template>
          <template v-slot:cell-site_code="{ row: val }">
            {{ val.site_code }}
          </template>
          <template v-slot:cell-item_category="{ row: val }">
            {{ item_category.find(item => item.id == val.item_category)?.item_name }}
          </template>
          <template v-slot:cell-target="{ row: val }">
            {{ val.target }}
          </template>
          <template v-slot:cell-actual="{ row: val }">
            {{ val.actual }}
          </template>
        </KTDatatable>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="card-header border-0">
            <div class="d-flex align-items-center pt-5 mb-5">
              <button @click="pushToDB" class="btn btn-primary btn-sm">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, ref, reactive } from 'vue';
import { useRouter } from 'vue-router';
import axios from 'axios';
import Swal from 'sweetalert2/dist/sweetalert2.min.js';
import KTDatatable from '@/components/kt-datatable/KTDatatable.vue';

export default defineComponent({
  components: {
    KTDatatable,
  },
  setup() {
    onBeforeMount(() => {
      axios.get('/mskpiitemcategory').then((resp) => {
        resp.data.data.forEach((item) => {
          item_category.value.push({
            id: item.id,
            item_name: item.item_name,
            weight: item.weight,
          });
        });
      });
      axios.get('/mssite').then((resp) => {
        resp.data.data.forEach((item) => {
          site_codes.value.push({
            siteID: item.siteID,
          });
        });
      });
      axios.get('/trkpidetail').then((resp) => {
        resp.data.data.forEach((item) => {
          itemList.value?.push({
            site_code: item.kpi_header.site_code,
            data_date: item
          })
        })
      })
    });
    const itemList = ref<Array<any>>()
    const tableHeader = ref([
      {
        name: 'Action',
        key: 'actions',
      },
      {
        name: 'Site ID',
        key: 'site_code',
      },
      {
        name: 'Item category',
        key: 'item_category',
      },
      {
        name: 'Target',
        key: 'target',
      },
      {
        name: 'Actual',
        key: 'actual',
      },
    ]);


    const tableData = ref<Array<any>>([]);
    const router = useRouter();
    const item_category = ref<
      Array<{
        id: Number;
        item_name: String;
        weight: Number;
      }>
    >([]);
    const site_codes = ref<Array<{ siteID: String }>>([]);
    const post = reactive({
      site_code: '',
      data_date: '',
      item_category: '',
      target: '',
      actual: '',
    });
    const loading = ref<boolean>(false);
    const deleteData = (site_code, item_category) => {
      Swal.fire({
        title: 'Are you sure?',
        text: 'This record and it`s details will be deleted!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true,
      }).then(function (result) {
        if (result.value) {
          tableData.value = tableData.value.filter(
            (item) =>
              item.site_code != site_code ||
              item.item_category != item_category,
          );
          Swal.fire('Deleted!', 'Your data has been deleted.', 'success');
        } else if (result.dismiss === 'cancel') {
          Swal.fire('Cancelled', 'Your imaginary data is safe :)', 'error');
        }
      });
    };
    const addData = () => {
      loading.value = true;
      if (
        post.site_code === '' ||
        post.data_date === '' ||
        post.item_category === '' ||
        post.target === '' ||
        post.actual === ''
      ) {
        Swal.fire({
          title: 'All fields must be filled!',
          icon: 'warning',
        });
        loading.value = false;
        return;
      }
      if (
        tableData.value.find((item) => item.item_category == post.item_category)
      ) {
        Swal.fire({
          title: `${item_category.value.find(
            (item) => item.id == parseInt(post.item_category),
          )?.item_name} Sudah ada dalam tabel`,
          icon: 'warning',
        });
        return;
      }
      tableData.value.push({
        site_code: post.site_code,
        item_category: post.item_category,
        target: post.target,
        actual: post.actual,
        data_date: post.data_date,
      });
      Swal.fire({
        title: 'Created',
        text: 'Data successfully added!',
        icon: 'success',
        showConfirmButton: true,
      });
      post.actual = '';
      post.item_category = '';
      post.target = '';
    };

    const pushToDB = () => {
      tableData.value.forEach((item) => {
        axios.post('/trkpidetail', item).catch((err) => err);
      });
      Swal.fire({
        title: 'Created',
        text: 'Data successfully created!',
        icon: 'success',
        showConfirmButton: true,
      });
      router.go(-1);
    };
    return {
      site_codes,
      post,
      item_category,
      tableData,
      tableHeader,
      deleteData,
      addData,
      pushToDB,
    };
  },
})
</script>
