<template>
  <div class="row gy-5 g-xl-10">
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush h-xl-100">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-8 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Company</span>
              </label>
              <div class="col-sm-8 p-1">
                <select class="form-select" disabled v-model="company_month_year.site_code">
                  <option :value="company_month_year.site_code">{{ company_month_year.site_code }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-8 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Month / year</span>
              </label>
              <div class="col-sm-8 p-1">
                <input type="text" class="form-control" v-model="company_month_year.data_date" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush h-xl-100">
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-12 col-sm-6 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Item Category</span>
              </label>
              <div class="col-sm-8 p-1">
                <select class="form-select" v-model="post.item_category">
                  <option v-for="(val, index) of item_category" :value="val.id">{{ val.item_name }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-6 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Weight (%)</span>
              </label>
              <div class="col-sm-8 p-1">
                <input type="text" class="form-control" disabled
                  :value="item_category.find((item) => item.id === Number(post.item_category))?.weight">
              </div>
            </div>
            <div class="col-12 col-sm-6 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Target</span>
              </label>
              <div class="col-sm-8 p-1">
                <input type="number" class="form-control" placeholder="Enter target" v-model="post.target">
              </div>
            </div>
            <div class="col-12 col-sm-6 row">
              <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                <span class="required">Actual</span>
              </label>
              <div class="col-sm-8 p-1">
                <input type="number" class="form-control" placeholder="Enter actual" v-model="post.actual">
              </div>
            </div>
          </div>
          <div class=" mt-5 row">
            <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-primary me-3" type="submit"
              @click="addData">
              <span v-if="!loading" class="indicator-label">
                Submit
                <span class="svg-icon svg-icon-3 ms-2 me-0">
                  <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
                </span>
              </span>
              <span v-if="loading" class="indicator-progress">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import axios from 'axios';
import Swal from 'sweetalert2'

export default defineComponent({
  setup() {

    const loading = ref<boolean>(false);
    const router = useRouter()
  
    const post = reactive({
      site_code: '',
      item_category: '',
      target: '',
      actual: '',
    });
    const company_month_year = reactive({
      site_code: '',
      data_date: '',
    })

    const get_company_month_year = () => {
      axios.get('/trkpiheader/' + route.params.id).then((resp) => {
        company_month_year.site_code = resp.data.data.site_code
        company_month_year.data_date = resp.data.data.data_date
      });
    }

    const item_category = ref<
      Array<{
        id: Number;
        item_name: String;
        weight: Number;
      }>
    >([]);

    onBeforeMount(() => {
      get_item_category()
      get_kpi_detail()
      get_company_month_year()
    })

    const route = useRoute()

    function get_item_category() {
      axios.get('/mskpiitemcategory').then((resp) => {
        resp.data.data.forEach((item) => {
          item_category.value.push({
            id: item.id,
            item_name: item.item_name,
            weight: item.weight,
          });
        });
      });
    }
    function get_kpi_detail() {
      axios.get('/trkpidetail/' + route.params.id)
        .then((resp => resp.data))
        .then((resp) => {
          if (resp.status == 'success') {
            post.site_code = resp.data.site_code
            post.item_category = resp.data.item_category.id
            post.target = resp.data.target
            post.actual = resp.data.actual
          }
        })
    }
    function addData() {
      axios.put('/trkpidetail/' + route.params.id, {
        'item_category': post.item_category,
        'target': parseInt(post.target),
        'actual': parseInt(post.actual)
      }).then(resp => {
        if (resp.data.status == 'success') {
          Swal.fire({
            title: "Success",
            text: resp.data.message,
            icon: "success",
            buttonsStyling: false,
            confirmButtonText: "Confirm me!",
            customClass: {
              confirmButton: "btn btn-primary",
            },
          }).then(() => {
            loading.value = false;
            router.go(-1);
          });
        } else {
          Swal.fire({
            title: "Error",
            text: resp.data.message,
            icon: "error",
            showClass: {
              popup: "animate__animated animate__fadeInDown",
            },
            hideClass: {
              popup: "animate__animated animate__fadeOutUp",
            },
          });
          loading.value = false;
        }
      }).catch((error) => {
        Swal.fire({
          title: "Error",
          text: error.resp.data.message,
          icon: "error",
          showClass: {
            popup: "animate__animated animate__fadeInDown",
          },
          hideClass: {
            popup: "animate__animated animate__fadeOutUp",
          },
        });
        loading.value = false;
      });
    }
    return {
      post,
      item_category,
      addData,
      loading,
      company_month_year
    }
  }
})
</script>