<template>
  <div class="row gy-5 g-xl-10">
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush h-xl-100">
        <!--begin::Card header-->
        <div class="card-header border-0">
          <div class="d-flex align-items-center">
            <router-link :to="{ name: 'create-kpi' }" class="btn btn-sm btn-light-primary">
              <span class="svg-icon svg-icon-2">
                <inline-svg src="/media/icons/duotune/arrows/arr075.svg" />
              </span>
              Create
            </router-link>
          </div>
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
          <KTDatatable :table-data="tableData" :table-header="tableHeader" :loading="loading">
            <template v-slot:cell-actions="{ row: val }">
              <button @click.prevent="viewData(val.id)"
                class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm me-1" title="Info">
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/general/gen045.svg" />
                </span>
              </button>
              <button @click.prevent="deleteData(val.id)"
                class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm me-1" title="Delete">
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/general/gen027.svg" />
                </span>
              </button>
              <router-link :to="{ name: 'edit-kpi', params: { id: val.id } }"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/art/art005.svg" />
                </span>
              </router-link>
            </template>
            <template v-slot:cell-siteID="{ row: val }">
              {{ val.siteID }}
            </template>
            <template v-slot:cell-date="{ row: val }">
              {{ val.data_date }}
            </template>
            <template v-slot:cell-created_at="{ row: val }">
              {{ val.created_at }}
            </template>
          </KTDatatable>
        </div>
        <!--end::Card body-->
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, reactive, onBeforeMount, ref } from 'vue';
import axios from 'axios';
import KTDatatable from '@/components/kt-datatable/KTDatatable.vue';
import Swal from 'sweetalert2/dist/sweetalert2.min.js';
import Swalx from 'sweetalert2'
import { setCurrentPageTitle } from '@/core/helpers/breadcrumb';

export default defineComponent({
  setup() {
    onBeforeMount(() => {
      setCurrentPageTitle('List Data KPI');
      getData();
    });
    const loading = ref<boolean>(true);
    const tableHeader = ref([
      {
        name: 'Action',
        key: 'actions',
      },
      {
        name: 'Site ID',
        key: 'siteID',
      },
      {
        name: 'Date',
        key: 'date',
      },
      {
        name: 'Created At',
        key: 'created_at',
      },
    ]);
    const tableData = ref<Array<any>>([]);

    const items = ref<Array<any>>([]);


    const getData = () => {
      axios.get('/trkpiheader').then((resp) => {
        if (resp.data.status === 'success') {
          resp.data.data.forEach((item) => {
            tableData.value.push({
              id: item.id,
              siteID: item.site_code,
              data_date: item.data_date,
              created_at: item.created_at,
              // items: item.kpi_detail
            });
          });
        }
      });
      loading.value = false;
    };
    const deleteData = (id) => {
      Swal.fire({
        title: 'Are you sure?',
        text: 'This record and it`s details will be permanantly deleted!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true,
      }).then(function (result) {
        if (result.value) {
          axios.delete('/trkpidetail/' + id);
          tableData.value = tableData.value.filter((item) => item.id != id);
          Swal.fire('Deleted!', 'Your data has been deleted.', 'success');
        } else if (result.dismiss === 'cancel') {
          Swal.fire('Cancelled', 'Your imaginary data is safe :)', 'error');
        }
      });
    };
    const viewData = (id) => {
      axios.get(`/trkpiheader/${id}`).then((resp) => {
        console.log(resp.data)
        Swal.fire({
          width: window.innerWidth - 100,
          heightAuto: true,
          html: `
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="row pb-2">
            <div class="col-6 text-left">Site</div>
            <div class="col-6"><b>${resp.data.data.site_code}</b></div>
          </div>
          <div class="row">
            <div class="col-6 text-left">Month</div>
            <div class="col-6"><b>${resp.data.data.data_date.split(' ')[0]}</b></div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <table class="table table-bordered table-hover table-striped">
      <thead class="table-light">
        <tr>
          <th>Perspective</th>
          <th>Category</th>
          <th>Item</th>
          <th>Weight</th>
          <th>Target</th>
          <th>Actual</th>
          <th>Mtd</th>
          <th>Mtd Achieve</th>
        </tr>
      </thead>
      <tbody>
        ${resp.data.data.kpi_detail.map(item => `
          <tr>
            <td>${item.perspective.perspective_item}</td>
            <td>${item.item_category.category.category_item}</td>
            <td>${item.item_category.item_name}</td>
            <td>${item.item_category.weight}</td>
            <td>${item.target}</td>
            <td>${item.actual}</td>
            <td>(null)</td>
            <td>(null)</td>
          </tr>
        `).join('')}
      </tbody>
    </table>
  `
        });

      })
    }

    return {
      tableData,
      tableHeader,
      deleteData,
      loading,
      viewData
    };

  },
  components: { KTDatatable },
});

</script>
