<template>
  <form @submit.prevent>
    <div class="row gy-5 g-xl-10">
      <div class="col-xl-12 mb-xl-12">
        <div class="card card-flush h-xl-100">
          <!--begin::Card body-->
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-6 row">
                <label class="col-sm-3 d-sm-flex justify-content-start align-items-center text-sm">
                  <span class="required">Perspective Item</span>
                </label>
                <div class="col-sm-8 p-1">
                  <input type="text" class="form-control" v-model="post.perspective_item"
                    placeholder="Input Perspective Item" />
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-secondary" @click="$router.go(-1)">
        <i class="fa fa-ban"></i>
        <span>Cancel</span>
      </a>
      &nbsp;
      <!--begin::Button-->
      <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-primary me-3" type="submit">
        <span v-if="!loading" class="indicator-label" @click="createItem">
          Submit
          <span class="svg-icon svg-icon-3 ms-2 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
          </span>
        </span>
        <span v-if="loading" class="indicator-progress">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</template>
<script lang="ts">
import { defineComponent, onMounted, reactive, ref } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

import axios from "axios";
import Swal from "sweetalert2";
import { useRouter } from "vue-router";

export default defineComponent({
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Add Perspective (Statis)");
    });
    const router = useRouter();
    const createItem = () => {
      loading.value = true;
      if (post.perspective_item === '') {
        Swal.fire({
          title: "Item harus di isi",
          icon: "warning",
        });
        loading.value = false
        return
      }
      axios.post('/mskpiperspective', post).then(data => {
        if (data.data.status === 'success') {
          Swal.fire({
            title: "Created",
            text: "Data successfully created!",
            icon: "success",
            showConfirmButton: true,
          }).then((suc) => {
            if (suc.isConfirmed) {
              router.go(-1);
            }
          });
        }
      }).catch(err => {
        Swal.fire({
          title: "Error",
          text: err.response.data.message.perspective_item,
          icon: "error",
          showConfirmButton: true,
        })
        loading.value = false
      })
    }
    const loading = ref<boolean>(false);
    let post = reactive({
      perspective_item: "",
    });
    return {
      post,
      loading,
      createItem
    };
  },
});
</script>
