<template>
  <div class="row gy-5 g-xl-10">
    <div class="col-xl-12 mb-xl-12">
      <div class="card card-flush h-xl-100">
        <!--begin::Card header-->
        <div class="card-header border-0">
          <div class="d-flex align-items-center">
            <router-link :to="{ name: 'master-perspective-statis-add' }" class="btn btn-sm btn-light-primary">
              <span class="svg-icon svg-icon-2">
                <inline-svg src="/media/icons/duotune/arrows/arr075.svg" />
              </span>
              Create
            </router-link>
          </div>
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
          <KTDatatable :table-data="tableData" :table-header="tableHeader" :loading="loading">
            <template v-slot:cell-actions="{ row: val }">
              <button @click.prevent="destroy(val.id)"
                class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm me-1" title="Delete">
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/general/gen027.svg" />
                </span>
              </button>
              <router-link :to="{ name: 'master-perspective-statis-edit', params: { id: val.id } }"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/art/art005.svg" />
                </span>
              </router-link>
            </template>
            <template v-slot:cell-perspective_item="{ row: val }">
              {{ val.perspective_item }}
            </template>
          </KTDatatable>
        </div>
        <!--end::Card body-->
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import axios from "axios";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import KTDatatable from "@/components/kt-datatable/KTDatatable.vue";

import { defineComponent, ref, onMounted, computed } from "vue";
import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";

export default defineComponent({
  components: {
    KTDatatable,
  },
  setup() {
    onMounted(() => {
      setCurrentPageTitle("List Perspective (Statis)");
      indexPerspectiveStatis();
    });

    let data = ref([]);
    let loading = ref();

    const tableHeader = ref([
      {
        name: "Action",
        key: "actions",
      },
      {
        name: "Perspective Item",
        key: "perspective_item",
      },
    ]);

    const tableData = computed(() => {
      let post = data.value;
      return post;
    });

    const indexPerspectiveStatis = () => {
      loading.value = true;
      axios
        .get("/mskpiperspective")
        .then((response) => {
          loading.value = false;
          data.value = response.data.data.map(val => {
            return {
              id: val.id,
              perspective_item: val.perspective_item
            }
          });
        })
        .catch((error) => {
          loading.value = false;
          console.log(error);
        });
    };

    const destroy = (id) => {
      Swal.fire({
        title: "Are you sure?",
        text: "This record and it`s details will be permanantly deleted!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
      }).then(function (result) {
        if (result.value) {
          axios.delete("/mskpiperspective/" + id);
          let deleteIndex = data.value.findIndex((row) => row["id"] === id);
          data.value.splice(deleteIndex, 1);
          Swal.fire("Deleted!", "Your data has been deleted.", "success");
        } else if (result.dismiss === "cancel") {
          Swal.fire("Cancelled", "Your imaginary data is safe :)", "error");
        }
      });
    };

    return {
      data,
      destroy,
      loading,
      tableHeader,
      tableData,
    };
  },
});
</script>
