<template>
  <div class="d-flex flex-column flex-lg-row-fluid">
    <div class="d-flex flex-column flex-root" id="background">
      <!--begin::Page bg image-->

      <!--end::Page bg image-->
      <!--begin::Authentication - Sign-in -->
      <div class="d-flex flex-column flex-column-fluid flex-lg-row">
        <!--begin::Aside-->
        <div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
          <!--begin::Aside-->
          <div class="d-flex flex-center flex-lg-start flex-column">
            <!--begin::Logo-->
            <div class="mb-5">
              <v-lazy-image
                src="/media/logos/hupgotextgradasi.png"
                style="height: 55px"
              />
            </div>
            <!--end::Logo-->
            <!--begin::Title-->
            <h2 class="text-white fw-normal m-0">
              Digital Application for Mining Industry
            </h2>
            <!--end::Title-->
          </div>
          <!--begin::Aside-->
        </div>
        <!--begin::Aside-->
        <!--begin::Body-->
        <div
          class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20"
        >
          <!--begin::Card-->
          <div
            class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20"
          >
            <!--begin::Wrapper-->
            <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-10">
              <!--begin::Form-->
              <Form
                class="form w-100"
                @submit="onSubmitForgotPassword"
                id="kt_login_password_reset_form"
                :validation-schema="forgotPassword"
              >
                <!--begin::Heading-->
                <div class="text-center mb-10">
                  <!--begin::Title-->
                  <h1 class="text-dark mb-3">Forgot Password ?</h1>
                  <!--end::Title-->

                  <!--begin::Link-->
                  <div class="text-gray-400 fw-bold fs-4">
                    Enter your email to reset password.
                  </div>
                  <!--end::Link-->
                </div>
                <!--begin::Heading-->

                <!--begin::Input group-->
                <div class="fv-row mb-3">
                  <div class="fv-row mb-8 fv-plugins-icon-container">
                    <!--begin::Email-->
                    <Field
                      type="text"
                      v-model="post.email"
                      placeholder="Email"
                      name="email"
                      autocomplete="off"
                      class="form-control form-control-lg form-control-solid"
                    />
                    <!--end::Email-->
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="email" />
                    </div>
                  </div>
                </div>
                <!--end::Input group-->

                <!--begin::Input group-->
                <div class="fv-row mb-3">
                  <div class="fv-row mb-8 fv-plugins-icon-container">
                    <!--begin::Captcha-->
                    <Field
                      type="text"
                      class="form-control form-control-lg form-control-solid"
                      v-model="inputValue"
                      placeholder="Captcha"
                      name="captcha"
                      autocomplete="off"
                      required
                    />
                    <!--end::Captcha-->
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="captcha" />
                    </div>
                  </div>
                </div>
                <!--end::Input group-->

                <div class="fv-row mb-10">
                  <VueClientRecaptcha
                    class="justify-content-start"
                    :value="inputValue"
                    :hideLines="true"
                    :show-capital-case-letters="false"
                    :show-lower-case-letters="false"
                    :count="5"
                    @isValid="checkValidCaptcha"
                  >
                  </VueClientRecaptcha>
                </div>

                <!--begin::Actions-->
                <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                  <button
                    type="submit"
                    ref="submitButton"
                    id="kt_password_reset_submit"
                    class="btn btn-lg btn-primary fw-bolder me-4"
                  >
                    <span class="indicator-label"> Submit </span>
                    <span class="indicator-progress">
                      Please wait...
                      <span
                        class="spinner-border spinner-border-sm align-middle ms-2"
                      ></span>
                    </span>
                  </button>

                  <router-link
                    to="/sign-in"
                    class="btn btn-lg btn-light-primary fw-bolder"
                    >Cancel</router-link
                  >
                </div>
                <!--end::Actions-->
              </Form>
              <!--end::Form-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Footer-->
            <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-3">
              <div class="text-gray-400 d-flex flex-center fw-bold fs-6">
                Copyright © {{ new Date().getFullYear() }} - Powered by CMIS
              </div>
            </div>
            <!--end::Footer-->
          </div>
          <!--end::Card-->
        </div>
        <!--end::Body-->
      </div>
      <!--end::Authentication - Sign-in-->
    </div>
  </div>
</template>

<script lang="ts">
import * as Yup from "yup";
import axios from "axios";
import Swal from "sweetalert2/dist/sweetalert2.min.js";
import VueClientRecaptcha from "vue-client-recaptcha";
import { defineComponent, reactive, ref } from "vue";
import { ErrorMessage, Field, Form } from "vee-validate";
import { useRouter } from "vue-router";
import { getIllustrationsPathAuth } from "@/core/helpers/assets";

export default defineComponent({
  name: "password-reset",
  components: {
    Field,
    Form,
    ErrorMessage,
    VueClientRecaptcha,
  },
  setup() {
    const router = useRouter();

    const submitButton = ref<HTMLButtonElement | null>(null);
    let post = reactive({
      email: "",
      captcha: false,
    });
    //Create form validation object
    const forgotPassword = Yup.object().shape({
      email: Yup.string().email().required().label("Email"),
      captcha: Yup.string().required().label("Captcha"),
    });
    //Form submit function
    const onSubmitForgotPassword = () => {
      if (post.captcha == false) {
        Swal.fire("Warning", "Captcha is not valid, please try again.", "warning");
        return false;
      }
      // eslint-disable-next-line
      submitButton.value!.disabled = true;
      // Activate loading indicator
      submitButton.value?.setAttribute("data-kt-indicator", "on");

      // Send login request
      const bodyForm = {
        email: post.email,
      };
      axios
        .post("password/email", bodyForm)
        .then((res) => {
          if (res.data.status == "Success") {
            Swal.fire({
              text: res.data.message,
              icon: "success",
              buttonsStyling: false,
              confirmButtonText: "Ok, got it!",
              customClass: {
                confirmButton: "btn fw-bold btn-light-primary",
              },
            }).then(() => {
              submitButton.value?.removeAttribute("data-kt-indicator");
              submitButton.value!.disabled = false;
              router.push({ name: "password-reset-verification" });
            });
          } else {
            // Alert then login failed
            Swal.fire({
              text: res.data.message,
              icon: "error",
              buttonsStyling: false,
              confirmButtonText: "Try again!",
              customClass: {
                confirmButton: "btn fw-bold btn-light-danger",
              },
            });
            submitButton.value?.removeAttribute("data-kt-indicator");
            submitButton.value!.disabled = false;
          }
        })
        .catch((error) => {
          console.log(error);
          submitButton.value?.removeAttribute("data-kt-indicator");
          submitButton.value!.disabled = false;
        });
    };

    /* pass value to captcha  */
    const inputValue = ref(null);

    const checkValidCaptcha = (value) => {
      /* expected return boolean if your value and captcha code are same return True otherwise return False */
      if (value == true) {
        post.captcha = true;
      } else {
        post.captcha = false;
      }
    };

    return {
      post,
      inputValue,
      submitButton,
      forgotPassword,
      onSubmitForgotPassword,
      checkValidCaptcha,
      getIllustrationsPathAuth,
    };
  },
});
</script>

<style>
.vue_client_recaptcha {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.vue_client_recaptcha_icon {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}
.vue_client_recaptcha_icon:hover {
  background-color: #ccc;
}
.vue_client_recaptcha .captcha_canvas {
  background: #eee;
  padding: 10px 0;
}

.ilustration {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  max-width: 500px;
  min-width: 250px;
  margin: auto;
}

#background {
  background-image: url("../../../public/media/coal-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
</style>
